    <div class="container" id="wrapper">
      
      <div class="jumbotron text-center">
        <h1>Music in Chicago</h1>
        <h2>Chicago Reader</h2>
      </div>

      <div class="row">
        <div class="col-md-8" id="articles">Click the button above to get today's listings</div>
        <div class="col-md-4" id="notes"></div>
      </div>

    </div> <!-- container -->

    <script src="app.js"></script>